@font-face {
    font-family: 'c64';
    src: url('c64-webfont.woff2') format('woff2'),
         url('c64-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html, body {
    background-color: black;
    color: white;
    width:  100%;
    height: 100%;
    margin: 0;
}

canvas {
    border: solid white 4px;
    border-radius: 25px;
}

.console {
    position: relative;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    text-align: center;
    
    width: 100%;
}


canvas.fullscreen {
    border: none;
    border-radius: 0px;
}


.infoBtn:hover {
    background-image: url('img/info-h.png');
    cursor: pointer;
}




.code {
    font-weight: lighter;
    font-size: small;
    font-kerning: auto;
}

@media (min-width:1250px){
    .console {
        position: relative;
        font-family: 'Courier New', Courier, monospace;
        font-weight: bolder;
        text-align: center;
        
        width: 100%;
    }
    .screen {
        display: flex;
        margin-left: calc(50% - 300px);
    }
    .infoBtn {
        width: 100px;
        height: 100px;
        min-width: 100px;
        margin-top: 2em;
        background-image: url('img/info.png');
    }
    .info {
        position: relative;
        font-family: 'Courier New', Courier, monospace;
        font-weight: bolder;
        text-align: left;
        color: black;
        margin: 2em 2em 2em 2em;
        display: flex;
        border: solid white 2px;
        padding: 1em;
        border-radius: 15px;
        overflow-y: scroll;
        overflow-x: hidden;
    }
    body {
        display: flex;
        overflow: hidden;
    }
    p {
        width: 90%;
        padding-left: 2em;
        
    }
    h2 {
        color: gray;
        padding-left: 0.5em;
    }
    
    a {
        color: red;
    }
    .mobileInput {
        display: none;
    }
    .mobileButtons {
        display: none;
    }
}

@media (max-width:1250px){
    .console {
        font-family: 'Courier New', Courier, monospace;
        text-align: center;
    }
    .screen {
        display: flex;
        margin: 0.5em;
    }
    .info {
        font-family: 'Courier New', Courier, monospace;
        font-weight: bolder;
        font-size: 1em;
        text-align: left;
        color: black;
    }
    p {
        width: 90%;
        padding-left: 2em;
    }
    h2 {
        color: gray;
        padding-left: 0.5em;
    }
    
    a {
        color: red;
    }
    .mobileInput {
        background-color: #5353eb;
        color: yellow;
        font-family: c64;
        border: solid white 4px;
        text-align: center;
        padding: 0.75em;
    }
    .mobileButtons {
        margin: 1em;
    }
    .mobileButtons input {
        padding: 1em;
        height: 5em;
        background-color: #5353eb;
        color: yellow;
        font-family: c64;
        border: solid white 4px;
    }
}
